<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- OSMDroid tile cache — only needed on Android 9 and below -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <application
        android:name=".AratKainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AratKain"
        android:theme="@style/Theme.AratKain"
        android:usesCleartextTraffic="true">

        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".login.LoginActivity"/>
        <activity android:name=".register.register.RegisterActivity"/>
        <activity android:name=".forgotpassword.ForgotPasswordActivity"/>
        <activity android:name=".dashboard.DashboardActivity"/>
        <activity android:name=".profile.ProfileActivity"/>
        <activity android:name=".updateprofile.UpdateProfileActivity"/>
        <activity android:name=".changepassword.ChangePasswordActivity"/>
        <activity android:name=".favorites.FavoritesActivity"/>

    </application>
</manifest>